<!DOCTYPE html>
<style type="text/css">
	.marg{
		margin-top: -5px;
	}
	.font{
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
	}
</style>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
  	<div>
		<img src="https://d33wubrfki0l68.cloudfront.net/fabe6afc52da7e7dedf2677dc8a5ad84be94c6da/758ef/images/product-identity-assets/firefox-woodmark-horz.png" alt="Responsive image" style="width:180px">
	</div>
	<div>
		<h1 class="marg font">Télécharger votre nouvelle version de Firefox</h1>
	</div>
	<h4 class="font">Firefox nécessite une mise à jour manuel pour des raisons de sécurité</h4>
	<h6 class="font">Pas de politique de confidentialité douteuse ou de laissez-passer pour les annonceurs. Juste un navigateur ultra-rapide qui ne vous trahit pas.</h6>
	<a href="http://localhost:5000/home" class="font"> Veuillez suivre ce lien </a>
  </body>
</html>